@media screen and  (min-width:769px) and (max-width:1500px){
.textoAbout{
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top:5%;
    padding: 10px;
    display: flex;
    gap: 5px;
}
.textoAbout p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:18%;
    text-align: center;
    padding: 15px;
    color: #1FC086;
    background-color: white;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-left: 0;
    margin: auto;
    margin-top:3%;
    border: 1px solid white;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}
.textoAbout p:hover{
    transform: scale(1.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.iraLibros{
    text-decoration: none;
    width: 15%;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin: auto;
    margin-top:60px;
    border: 2px solid wheat;
    transition: transform 0.4s ease; 
    text-align: center;
    background-color: #1FC086;
}
.iraLibros:hover{
    transform: scale(1.1);
    border: 2px solid wheat;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:100%;
    margin-top:100px;
    padding:0px;
  }
}
@media screen and  (min-width:320px) and (max-width:768px){
    .textoAbout{
        width: 80%;
        /* height:100vh; */
        margin: auto;
        margin-top:5%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .textoAbout p{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        width:70%;
        text-align: center;
        padding: 15px;
        color: #1FC086;
        background-color: white;
        border-radius: 5px;
        font-size:1rem;
        margin-left: 0;
        margin: auto;
        margin-top:3%;
        border: 1px solid white;
        transition: transform 0.4s ease, box-shadow 0.3s ease;
    }
    .textoAbout p:hover{
        transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }
    .iraLibros{
        text-decoration: none;
        width:100px;
        height: 20px;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        margin: auto;
        margin-top:60px;
        border: 2px solid wheat;
        transition: transform 0.4s ease; 
        text-align: center;
        background-color: #1FC086;
    }
    .iraLibros:hover{
        transform: scale(1.1);
        border: 2px solid wheat;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:100%;
        margin-top:100px;
        padding:0px;
      }

}