@media screen and (min-width:769px) and (max-width:1500px){
.todosLosLibros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    margin-top:30px;
    margin-left: 0;
    background-color:  #8bebc7;
    padding-bottom:50px;
    /* border: 1px solid blue; */
}
.todosLosLibros ul{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    list-style: none;
    margin: auto;
    gap:5px;
    padding:0px;
    justify-content: center;
    /* border: 1px solid red; */
}
.todosLosLibros ul li{
    padding:0px;
    width:40%;
    /* border: 3px solid yellow; */
}
}
@media screen and (min-width:320px) and (max-width:768px){
    .todosLosLibros{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:100%;
        margin: auto;
        margin-top:30px;
        margin-left: 0;
        background-color:  #8bebc7;
        padding: 0px;
        /* border: 1px solid blue; */
    }
    .todosLosLibros ul{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        list-style: none;
        margin: auto;
        gap:0px;
        padding:0px;
        justify-content: center;
    }
    .todosLosLibros ul li{
        padding:0px;
        width:100%;
    }
}
