
@media screen and (min-width:769px) and (max-width:1500px){
.App {
  position: relative; /* Para posicionar el pseudo-elemento */
  padding: 20px; /* Espaciado interno */
  background-image: url('https://img.freepik.com/foto-gratis/libros-realistas-apilados-estante_23-2151359537.jpg?size=626&ext=jpg&ga=GA1.1.1812565830.1720780701&semt=ais_user'); /* Ruta de tu imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  min-height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
  /* border: 1px solid yellow; */
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
  z-index: 0; /* Asegura que el fondo esté detrás del contenido */
}

}
/***********************************************************************************************************/
/*******************************Media Query Mobile**********************************************************/
/***********************************************************************************************************/
@media screen and (min-width:320px) and (max-width:768px){
  .App {
    position: relative; /* Para posicionar el pseudo-elemento */
    padding: 20px; /* Espaciado interno */
    background-image: url('https://img.freepik.com/foto-gratis/libros-realistas-apilados-estante_23-2151359537.jpg?size=626&ext=jpg&ga=GA1.1.1812565830.1720780701&semt=ais_user'); /* Ruta de tu imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    min-height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
    /* border: 1px solid yellow; */
  }
  
  .App::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
    z-index: 0; /* Asegura que el fondo esté detrás del contenido */
  }
  
}