:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*background-color:  #1FC086;*/
  /* background-image: url('/Deer.png'); */
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

a {
  color: white;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  font-weight: 800;
}
li{
  list-style: none;
}
