.notFound{
    width: 80%;
    height: 80vh;
    color: white;
    font-size: 4rem;
    margin: auto;
    position: relative;
    z-index: 0;
    /* border: 1px solid red; */
}
.notFound h3{
    justify-content: center;
    text-align: center;
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 100px;
    z-index: 1;
    /* border: 1px solid blue; */
}